* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product_name {
    text-align: center;
    margin: 10px;
}
.product_container {
    margin: auto;
    width: 90%;
    display: flex;
    
}

.filter_column{
width: 20%;
background: gray;
}
.filter_column input{
    padding: 10px;
    margin: 10px; 
    outline: none;
    border-radius:5px ;
}
.filter_column h4{
    margin: 10px;
}
.Categories{
    margin: 10px;
}
.Categories a{
    line-height: 30px;
    cursor: pointer;
}

.product_row {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.product_card {
    margin: 10px;
    padding: 10px;
    text-align: center;
    
}

.product_card img {
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}
.product_card p  {
 font-size: 25px;
 color: gray;
 margin: 5px;
}
.product_card a{
    padding: 10px;
    background: red;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    margin: 10px;
}
